apiVersion: v1
clusters:
- cluster:
    server: "{{ eks_create.endpoint }}"
    certificate-authority-data: "{{ eks_create.certificate_authority.data }}"
  name: "{{ eks_create.arn }}"
contexts:
- context:
    cluster: "{{ eks_create.arn }}"
    user: "{{ eks_create.arn }}"
  name: "{{ eks_create.arn }}"
current-context: "{{ eks_create.arn }}"
kind: Config
preferences: {}
users:
- name: "{{ eks_create.arn }}"
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1alpha1
      command: aws-iam-authenticator
      args:
        - "token"
        - "-i"
        - "{{ eks_cluster_name }}"
      env:
        {{ eks_kubeconfig_env | to_nice_yaml(indent=2) | indent(8) }}
